{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='add_author.css') }}">
{% endblock %}

{% block content %}
    <h1>Ajouter un nouvel auteur</h1>
    
    <form method="POST" action="{{ url_for('add_author') }}">
        <label for="name">Nom de l'auteur :</label>
        <input type="text" id="name" name="name" placeholder="Entrez le nom de l'auteur" required>

        <button type="submit">Ajouter</button>
    </form>

    <a href="{{ url_for('home') }}">Retour</a>
{% endblock %}
